.un{
    height: 12%;
    width: 14%;
    border: 3px solid white; 
    border-radius: 10px;
    margin-top: 17px;
    background-color: azure;
    transition-duration: .3s;
    
    
    
}
.cardback{
    border-radius: 10px;
    width:100%;
    -webkit-user-drag: none;/*avoid image dragging */ 
    user-select: none;/*avoid HTML highlighting */ 
    transform: rotateY(180deg);
}
img:hover{opacity: 0.9;}

div#Card:hover{
    border-color: blueviolet;
    background-color: blueviolet;
}
.hid{
    height: 12%;
    width: 14%;
    border: 3px solid white; 
    border-radius: 10px;
    margin-top: 17px;
    background-color: azure;
    transition-duration: .3s;
    visibility: hidden;
}
.flipped{
    height: 12%;
    width: 14%;
    border: 3px solid white; 
    border-radius: 10px;
    margin-top: 6px;
    
    background-color: azure;
    transform: rotateY(180deg);
    transition-duration: .3s;
    
    
}
