div#Card{
    height: 12%;
    width: 14%;
    border: 3px solid white; 
    border-radius: 10px;
    margin-top: 1rem;
    background-color: azure;
    
    
}
.cardback{
    border-radius: 10px;
    width:100%;
    -webkit-user-drag: none;/*avoid image dragging */ 
    user-select: none;/*avoid HTML highlighting */ 
}
img:hover{opacity: 0.9;}

div#Card:hover{
    border-color: blueviolet;
    background-color: blueviolet;
}
