div#Card{
    height: 12%;
    width: 14%;
    border: 3px solid white; 
    border-radius: 10px;
    margin-top: 1rem;
    background-color: azure;
    
    
}
.cardback{
    border-radius: 10px;
    width:100%;
    
    
}
img:hover{opacity: 0.8;}

div#Card:hover{
    border-color: blueviolet;
    background-color: blueviolet;
}
