div#display{
    border: 3px solid white; 
    border-radius: 10%;
    margin: auto;
    width: 75%;
    height: 5.7rem;
    background-image: url(../data/images/displaybackground.jpg);
    background-size: cover;
}
div#pointCircle{
    border: 1px solid white; 
    border-radius: 100%;
    margin: auto;
    width: 5.5rem;
    height: 5.5rem;
    text-align: center;
    font-size: 2rem;
    background-image: url(../data/images/pointbackground.jpg);
    background-size: 160%;
    background-position:52% 41% ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px black;
    
}
div#points{
    position: absolute;
    top: 2.2rem;
    left: 48.39%;
}
div#moves{
    background-color: blue;
    border: 2px solid white;
    border-radius: 10%;
    width:11rem;
    height:2.4rem;
    position: absolute;
    top: 1.9rem;
    left:25%;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
    
    padding-top: 0.4rem;
    background-image: url(../data/images/movesbackground.jpg);
}