body{
    background-color: black;
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Cards{
    display: flex;/*o componente se ajusta a tela*/
    flex-flow: row wrap;/*permite a quebra de linha no componente*/
    justify-content: space-around;
    margin: 2rem;
    
}
