body{
    background-color: black;
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(./data/images/bodybackground.jpg);
    background-size: cover;
}

.Cards{
    display: flex;/*components adjust to the screen*/
    flex-direction: row ;
    flex-wrap:  wrap ;
    align-self: flex-start;
    justify-content: space-around;/*horizontal space between cards */ 
    margin: 2rem;/* margin between cards*/ 
    
}
